<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Desafio 11</title>
</head>

<body class="body">
    <h1 class="h1Home">Desafio 11</h1>
    <h2>Logging y Performance</h2>
    {{{body}}}


</body>



</html>