<h1>Lista de productos con Websockets</h1>
<!--acá que se muestre la lista de productos más los que se agregarán. Tiene que trabajar con Socket y actualizar sola .-->





<script src="/socket.io/socket.io.js" charset="utf-8"></script>