.body{
    background-color:rgb(223, 215, 202);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: auto;

}
.h1Home{
    text-align: center;
    color: blue;
    background-color: #696969;
    border-radius: 15%;
}
.divForm{
    margin: auto;
    width: 75%;
    height: auto;
    padding: 20px;
    background-color: rgb(105, 105, 105, 0.2);

}
.botonBox{
    margin: auto;
    width: 75%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-color: rgb(105, 105, 105, 0.2);

}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titLista{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(12, 40, 40);
}
.containerList{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 80%;
    background-color: rgb(169, 169, 169, 0.6);
    text-align: left;
    text-rendering: auto;
    border-radius: 5%;
    border-color: solid #0a0a0a;
}
.imgContainer{
    width: 300px; /* Tamaño deseado para el contenedor */
    height: 350px; /* Tamaño deseado para el contenedor */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;

}
.imgProduct{
    max-width: 100%;
    max-height: 100%;
    display:block;
    margin-top: 2px;
}
.divPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(169, 169, 169);
}
.divInicial{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 500px;
    background-color: rgb(169, 169, 169,  0.6);
    text-align: left;
    text-rendering: auto;
    border-radius: 5%;
    border-color: rgb(105, 105, 105);
    flex-wrap: wrap;
    flex-direction: column;
}